/* 
Pre Config 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

/*
Navbar
*/
nav {
    background-color: #3E4453;
    width: 20%;
    height: 100%;
    text-align: center;
    position: relative;
    color: white;
}

.about {
    top: 2%;
    position: relative;
}

.about h1 {
    font-family: 'Pacifico', sans-serif;
    font-size: 36px;
    font-weight: 100;
}

.about p {
    color: #e8e8e8;
    padding: 5%;
}

.social {
    width: 100%;
    bottom: 5%;
    position: absolute;
    font-size: 25px;
    color: rgba(255, 255, 255, .6);
}

.social a {
    font-size: 25px;
    color: rgba(255, 255, 255, .6);
    cursor: pointer;
    transition: color .5s;
    margin: 1%;
}

.social a:hover {
    color: rgba(255, 255, 255, 1);
}

/*
Projects
*/
.projects {
    width: 80%;
    height: 100%;
    position: relative;
    background-color: #E8E8E8;
    padding: 2%;
}

.project {
    margin-top: 2%;
    position: relative;
    width: 100%;
    height: 20%;
}

.project p {
    color: rgb(70, 70, 70);
    width: 60%;
}

.project a {
    text-decoration: none;
}

.project h2 {
    margin-bottom: 0.5%;
    color: rgb(51, 51, 51);
}

.technologies {
    margin-top: 2%;
    width: 30%;
}

.technologies span {
    background-color: rgba(62, 68, 83, .8);
    color: white;
    padding: 5px 10px 5px 10px;
    margin-right: 1%;
}

hr {
    width: 90%;
    text-align: center;
    margin-top: 2%;
    width: 100%;
}

.thumbnail {
    width: 15%;
    height: 15%;
    right: 3%;
    top: 3%;
    position: absolute;
}

.thumbnail img {
    width: 80%;
}